//output: index.html
section#intro.text-center.flake
  .row.align-center
    .large-8.columns
      p A collection of wonderfully curated scenarios where we were abandoned by our favorite Jen.
      p An attempt was made to write up a description for this site that would place it in the best light, but it was too difficult. But in all honesty, this was a labor of love.
      p Happy Wedding &amp; We Miss You!
      p XOXO,
      p BMN<sup>2</sup>
      a(href="assets/img/jenflakes.pdf"): img(src="assets/img/qr.jpg" width="100px")
  
.flakes
  section#one.flake(style="background:#f5fffa url('assets/img/01-bg.jpg');")
    p.flake__date July 18, 2017
    .headline-font Biki
    .headline-font Field Trip
    .body-font "I don't want to get sweaty"
  section#two.flake(style="background-color:#DCC634")
    .row
      p.flake__date October 12, 2017
      .medium-12.columns
        .headline-font Pau Hana
        .headline-font <span>at</span> Mai Tais
        .body-font "I'm getting my nails did."
      .medium-12.columns
        img(src="https://78.media.tumblr.com/1a6e3929de74f48958191256b714ddab/tumblr_oyd29qloaM1wfffcso1_500.gif" alt="Git (commit) it Rihanna!")
  section#three.flake(style="")
    .row
      p.flake__date October 19, 2017
      .headline-font AIGA Designer Dialogue
      .body-font "I'm not feeling well"
  section#four.flake
    .row
      p.flake__date October 21, 2017
    .excuse
      .headline-font AIGA
      .headline-font Hawaii's
      .headline-font 5-O
      .overlay
        .body-font "I'm Going To
        .body-font A Steve Aoki
        .body-font Concert"
  
  section#five.flake
    .row
      .container
        .large-12.columns
          p.flake__date November 7, 2017
        .large-12.columns.excuse
          .headline-font T<span>a</span>c<span>o</span> T<span>u</span>e<span>s</span>d<span>a</span>y
          .body-font I’m getting<br>married<br>next week
    
  section#six.flake
    .row
      .large-12.columns
        p.flake__date November 8, 2017
    .row.align-center
      .excuse.large-8.columns
        .headline-font 白木屋<br>パウハナ
    .row.texts
      .me are you 100% not coming?
      .you
        <span></span>
        <span></span>
        <span></span>
      
        
        
