//output: index.html
section#intro.text-center
  h1
  p I'll write an introduction here someday.
  
.flakes
  section#one.flake(style="background:#f5fffa url('assets/img/01-bg.jpg');")
    p.flake__date July 18, 2017
    .headline-font Biki
    .headline-font Field Trip
    .body-font "I don't want to get sweaty"
  section#two.flake(style="background-color:#DCC634")
    .row
      p.flake__date October 12, 2017
      .medium-12.columns
        .headline-font Pau Hana
        .headline-font <span>at</span> Mai Tais
        .body-font "I'm getting my nails did."
      .medium-12.columns
        img(src="https://78.media.tumblr.com/1a6e3929de74f48958191256b714ddab/tumblr_oyd29qloaM1wfffcso1_500.gif" alt="Git (commit) it Rihanna!")
  section#three.flake(style="")
    .row
      p.flake__date October 19, 2017
      .headline-font AIGA Designer Dialogue
      .body-font "I'm not feeling well"
  section#four.flake
    .row
      p.flake__date October 21, 2017
    .excuse
      .headline-font AIGA
      .headline-font Hawaii's
      .headline-font 5-O
      .overlay
        .body-font "I'm Going To
        .body-font A Steve Aoki
        .body-font Concert"
  
  section#five.flake
  .row
    p.flake__date November 7, 2017
  .excuse
    .headline-font Taco Tuesday
    .body-font "I’m getting married next week"
  
      
      
