//output: navigation.html
| <!-- Google Tag Manager (noscript) -->
| <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PKQQHRD"
| height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
| <!-- End Google Tag Manager (noscript) -->
div(data-sticky-container)
  .top-bar#main-nav(data-sticky data-options="marginTop:0;" style="width:100%")
    img(src="assets/img/jenflaked.svg" alt="Jen Flaked On Us")
